{% extends 'soundapp/base.html' %}
{% block title %} Product Detail{% endblock %}
{% block content %}

<style>
    .card-body img{
        height: 10vw;
        width: 10vw;
    }

    .card-body .card-text{
        color: black;
    }
</style>
<div class="card my-4">
    <div class="card-body">
    <h1 class="card-title">Product Detail Page</h1>
        <p class="card-text">{{ product.name }}</p>
        <p class="card-text">Description : {{ product.description }}</p>
        
            {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% endif %}
        <a href="{% url 'add_to_cart' 'product' product.id %}">Add To Cart</a>
{% endblock %}